


<h1>WikiDog</h1>
<p>Ad ogni cane la sua specialità.</p>

<table style="width:100%">
  <tr>
    <th>RAZZA CANI</th>
    <th>CIBO</th>
    <th>PRODOTTI</th>
  </tr>
  <tr>
    <td>Razza Piccola</td>
    <td>Omogeneizzanti</td>
    <td>Gabbia </td>
  </tr>
  <tr>
    <td>Razza Media  </td>
    <td>Croccantini</td>
    <td>Pettorina</td>
  </tr>
  <tr>
    <td>Razza grande </td>
    <td>Scatolette</td>
    <td>Guinzaglio (ecc..)</td>
  </tr>
</table>

<p> DAL CANE SI RICONOSCE IL PADRONE .</p>
<strong></strong>

<router-outlet></router-outlet>
